@media (max-width: 1200px) {
    .frame {
        display: none;
    }
    .images-wraper, .image-wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-a {
        margin-bottom: 30px;
    }
    .mail {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .block-wraper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .left {
        margin-right: 20px;
    }
}
@media (max-width: 1150px) {
    .contact-information, 
    .map, 
    .form-section, 
    .teams-section,
    .block-wraper,
    .section2,
    .section4,
    .bg-div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-members {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .team-members div {
        margin-bottom: 30px;
    }
    .frame {
        display: none;
    }
    .cntct-number {
        font-size: 12px;
    }
}
@media (max-width: 996px) {
    .div-wraper, .box-wraper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .div-wraper div, .box-wraper div {
        width: 49%;
        margin-top: 20px;
    }
}
@media (max-width: 975px) {
    .image-div {
        width: 400px;
        height: 500px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .section4 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .div-wraper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media (max-width: 950px) {
    .bg-div nav,
    .project-bg nav,
    .about-bg nav,
    .contact-header nav,
    .cntct-number {
        display: none;
    }
    .burger {
        display: block;
    }
    .bg-div header,
    .project-bg header,
    .about-bg header,
    .contact-header header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background-color: rgba(13, 13, 13, 0.9);
    }
    .bg-div nav,
    .project-bg nav,
    .about-bg nav,
    .contact-header nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .bg-div ul,
    .project-bg ul,
    .about-bg ul,
    .contact-header ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 350px;
        margin-top: 52px;
    }
    .cntct-number {
        margin-bottom: 50px;
    }
    .bg-div li,
    .project-bg li,
    .about-bg li,
    .contact-header li {
        margin-bottom: 50px;
        margin-left: 0;
        font-size: 25px;
    }
    .header-section li:nth-child(1),
    .project-header li:nth-child(2),
    .about-header li:nth-child(3),
    .contact-header li:nth-child(4) {
        border: none;
    }
    .header-section li:hover,
    .project-header li:hover,
    .about-header li:hover,
    .contact-header li:hover{
        border: none;
    }
    .bg-div nav.active,
    .project-bg nav.active,
    .about-bg nav.active,
    .contact-header nav.active,
    .cntct-number.visible {
        display: block;
    }
}
@media (max-width: 800px) {
    .contact-wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .block-wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .comp-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-bg {
        height: auto;
    }
    .infos {
        margin-bottom: 50px;
    }
}
@media (max-width: 795px) {
    .left-block h3 {
        font-size: 25px;
    }
    .image-div {
        width: 300px;
        height: 350px;
        margin-top: 70px;
    }
}
@media (max-width: 740px) {
    .bg-div {
        padding-left: 20px;
        padding-right: 20px;
    }
    .standard h2 {
        font-size: 35px;
    }
    .form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .form-element:nth-child(1) {
        margin-bottom: 20px;
    }
    .section2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .right-block {
        width: 600px;
        margin-top: 0;
    }
    .image-div {
        width: 550px;
        height: 600px;
        margin: 0 auto;
    }
    .left-block {
        margin-bottom: 50px;
    }
    .section3 {
        padding-top: 350px;
    }
}
@media (max-width: 640px) {
    .box-a, .box-b {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-a div:nth-child(1), .box-b div:nth-child(1) {
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .image-wraper div {
        width: 400px;
    }
    .image-wraper div:nth-child(5) {
        margin-bottom: 100px;
    }
    .section4 {
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .div-wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* align-items: center; */
        margin-left: 30px;
    }
    .div-wraper div, .box-wraper div {
        margin-bottom: 30px;
    }
    .box-wraper span {
        font-size: 18px;
    }
    .box:nth-child(3) {
        display: none;
    }
}
@media (max-width: 500px) {
    .right-block {
        width: 350px;
        margin-top: 0;
    }
    .image-div {
        width: 350px;
        height: 400px;
        margin: 0 auto;
    }
    .footer-bg {
        padding: 20px 20px;
    }
}
@media (max-width: 470px) {
    .box-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .team {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about-section h3 {
        width: 300px;
        font-size: 25px;
    }
    .team-members div {
        width: 280px;
    }
    .team-members div img {
        width: 100%;
    }
    .image-wraper div {
        width: 280px;
    }
    .div-wraper div {
        margin-bottom: 40px;
    }
    .div-wraper div:nth-child(3) {
        margin-top: 50px;
    }
    .mail p {
        font-size: 25px;
    }
    .sendmail input {
        width: 200px;
    }
    .boxes {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sendmail {
        width: 230px;
    }
    .discover {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .discover p {
        margin-bottom: 30px;
    }
}
@media (max-width: 400px) {
    .image-wraper div {
        width: 250px;
    }
    .standard h2 {
        font-size: 20px;
    }
    .standard a {
        font-size: 10px;
    }
    .div-wraper div {
        margin-top: 80px;
    }
    .div-wraper div:nth-child(3) {
        margin-top: 80px;
    }
}
@media (max-width: 375px) {
    .right-block {
        width: 290px;
        margin-top: 0;
    }
    .image-div {
        width: 290px;
        height: 350px;
        margin: 0 auto;
    }
}