/* header styles */
:root {
    --yellow : #f8b878
}
:root {
    --grey : #AFAFAE
}
:root{
    --white : #FFFFFF
}
:root {
    --darkgrey : #8a8a8a
}
.bg-div {
    background-image: url(../images/index/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 960px;
    padding-top: 84px;
}
.header-section header, .project-header header, .about-header header, .contact-header header{
    width: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 15px 10px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(13, 13, 13, 0.6);
    padding-bottom: 8px;
}
.bg-div nav, .about-bg nav, .contact-header nav, .project-bg nav {
    max-width: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-section ul, .project-header ul,  .about-header ul, .contact-header ul{
    max-width: 450px;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-section li, .project-header li, .about-header li, .contact-header li {
    margin-right: 30px;
    margin-left: 30px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: bold;
}
.header-section li:nth-child(1), .project-header li:nth-child(2), .about-header li:nth-child(3), .contact-header li:nth-child(5)  {
    border-bottom: solid;
    border-radius: 1px;
    border-color: var(--yellow);
}
.header-section li:hover, .project-header li:hover, .about-header li:hover, .contact-header li:hover {
    border-bottom: solid;
    border-radius: 1px;
    border-color: var(--yellow);
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}
.header-section li a, .project-header li a, .about-header li a, .contact-header li a {
    color: var(--white);
}
.header-section ul li:nth-child(5){
    margin-right: 0;
}
.cntct-number p {
    color: var(--grey);
    font-size: 16px;
    font-family: 'Sarpanch';
}
.cntct-number a {
    color: var(--yellow);
    font-size: 22px;
    letter-spacing: 1.5px;
}
.burger {
    display: none;
    font-size: 30px;
    color: var(--yellow);
    position: absolute;
    top: 15px;
    right: 10px;
    border-style: solid;
    border-color: var(--yellow);
    border-width: 1.5px;
    border-radius: 4px;
    padding: 0 5px;
}
.standard {
    max-width: 1050px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding-top: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    font-family: 'Sarpanch';
}
.standard h2 {
    color: var(--white);
    font-size: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.discover {
    max-width: 1000px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}
.discover a {
    font-size: 16px;
    color: var(--grey);
    font-family: 'Roboto';
}
.socials {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.socials i:hover {
    color: var(--yellow);
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}
.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-linkedin-in {
    color: var(--white);
}
.standard a {
    position: relative;
    padding: 8px 15px;
    color: var(--white);
    font-size: 35px;
}
.standard a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.standard a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-right: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.standard a:hover:before {
    width: 98%;
    height: 99%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.standard a:hover:after {
    width: 99%;
    height: 98%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.project {
    position:relative;
    display: block;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: 'Roboto';
    text-align: center;
}
.project::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.project::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-right: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.project:hover:before {
    width: 99%;
    height: 99%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.project:hover:after {
    width: 99%;
    height: 99%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.fa-angle-left, .fa-angle-right {
    font-size: 25px;
}
/* section2 styles */
.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 100px auto;
    max-width: 1100px;
    width: 100%;
    height: 650px;
    vertical-align: middle;
}
.left-block {
    max-width: 480px;
    width: 100%;
    margin-top: 100px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.right-block {
    max-width: 480px;
    width: 100%;
    position: relative;
}
.image-div {
    background-image: url(../images/index/about-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 470px;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 15;
}
.frame {
    max-width: 470px;
    width: 100%;
    height: 600px;
    border-style: solid;
    border-width: 15px;
    border-color: #F5EEE3;
    position: absolute;
    top: 50px;
    left: 50px;
}
.section2 h2, .section3 h2, .section4 h2, .left h2, .team h2, .contact-information h2, .form-section h2 {
    color: var(--yellow);
    font-size: 17px;
    font-family: 'Roboto';
    margin-bottom: 20px;
    font-weight: 500;
}
.section2 h3, .section3 h3, .section4 h3, .left h3, .team h3, .contact-information h3, .form-section h3{
    font-size: 42px;
    font-family: 'Sarpanch';
    margin-bottom: 30px;
}
.mail p {
    font-size: 42px;
    font-family: 'Sarpanch';
    margin-bottom: 30px;
    color: white;
}
.section2 p, .left p, .right p, .contact-p, .form-section p{
    color: var(--grey);
    font-size: 14px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
.section2 a, .team a, .project-section a {
    width: 140px;
    height: 50px;
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    color: black;
    width: 150px;
    height: 50px;
    padding: 15px;
    text-align: center;
}
.section2 a::before, .team a::before, .project-section a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid var(--grey);
    border-left: 2px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.section2 a::after, .team a::after, .project-section a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-right: 2px solid var(--grey);
    border-top: 2px solid var(--grey);
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.section2 a:hover:before, .team a:hover:before, .project-section a:hover::before {
    width: 99%;
    height: 98%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.section2 a:hover:after, .team a:hover:after, .project-section a:hover:after {
    width: 99%;
    height: 98%;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.section3 h2, .section3 h3 {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.image-wraper, .images-wraper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.box-a, .box-b {
    max-width: 580px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box-a div, .box-b div {
    max-width: 283px;
    width: 100%;
}
.box-a div img, .box-b div img {
    width: 100%;
}
.section4 {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
}
.div-wraper, .box-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.div-wraper img {
    margin-bottom: 30px;
}
.div-wraper div, .box-wraper div {
    width: 263px;
    height: 225px;
}
.div-wraper p {
    max-width: 240px;
    width: 100%;
    color: var(--grey);
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
.div-wraper h4, .block-wraper h4 {
    margin-bottom: 30px;
    font-size: 26px;
    font-family: 'Sarpanch';
    font-weight: 50;
}
.divider {
    max-width: 1200px;
    width: 100%;
    height: 0.3px;
    background-color: #c0c0c0;
    margin: 70px auto;
}
.box-wraper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 240px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    color: var(--yellow);
    font-size: 70px;
    font-family: 'Sarpanch';
}
.box-wraper span {
    max-width: 250px;
    width: 100%;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}
/* footer styles */
.footer-bg {
    background-image: url(../images/index/footer-bg.jpg);
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 70px;
}
.mail {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-bg input {
    outline: none;
    border: none;
    max-width: 300px;
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
    font-family: 'Roboto';
}
.footer-bg input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
}
.footer-bg input::-moz-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
}
.footer-bg input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
}
.footer-bg input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
}
.footer-bg input::placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #d3d3d3;
    letter-spacing: 0.6px;
}
.footer-bg button {
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    background-color: var(--yellow);
}
.sendmail {
    width: 350px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-divider {
    max-width: 1200px;
    width: 100%;
    height: 0.2px;
    background-color: #636363;
    margin: 70px auto;
}
.comp-info {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
}
.footer-logo {
    margin-bottom: 20px;
}
.address a, .address li {
    color: var(--darkgrey);
    font-size: 15px;
    font-family: 'Roboto';
    margin-bottom: 30px;
    width: 170px;
}
.boxes {
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box h5 {
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    margin-bottom: 30px;
}
.box li {
    margin-bottom: 30px;
}
.box a {
    color: var(--darkgrey);
    font-size: 15px;
    font-family: 'Roboto';
}
.address-CA {
    color: var(--darkgrey);
    font-size: 15px;
    font-family: 'Roboto';
    width: 170px;
}
.copyright {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -1em;
}
.copyright p {
    color: var(--darkgrey);
    font-family: 'Roboto';
}
.copyright span {
    color: white;
}
/* project html styles */
/* header styles */
.project-bg, .about-bg {
    background-image: url(../images/projects/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 460px;
    padding-top: 84px;
}
.project-bg h2, .about-bg h2 {
    color: white;
    font-size: 40px;
    font-family: 'Sarpanch';
    text-align: center;
    margin-top: 150px;
}
.home {
    text-align: center;
    margin-top: 20px;
}
.home a {
    font-size: 16px;
    color: white;
    font-family: 'Roboto';
}
.home a::after {
    content: '~';
    margin-left: 10px;
    margin-right: 10px;
}
.home span {
    font-size: 16px;
    color: var(--yellow);
    font-family: 'Roboto';
}
.image-wraper {
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 100px auto;
}
.image-wraper div {
    max-width: 555px;
    width: 100%;
    height: 370px;
    margin-bottom: 100px;
    text-align: center;
}
.image-wraper h6 {
    margin-top: 390px;
    font-size: 30px;
    font-family: 'Sarpanch';
}
.image-wraper div:nth-child(1) {
    background-image: url(../images/projects/project-p1.jpg);
}
.image-wraper div:nth-child(2) {
    background-image: url(../images/projects/project-p2.jpg);
}
.image-wraper div:nth-child(3) {
    background-image: url(../images/projects/project-p3.jpg);
}
.image-wraper div:nth-child(4) {
    background-image: url(../images/projects/project-p4.jpg);
}
.image-wraper div:nth-child(5) {
    background-image: url(../images/projects/project-p5.jpg);
    margin-bottom: 0;
}
.image-wraper div:nth-child(6) {
    background-image: url(../images/projects/project-p6.jpg);
    margin-bottom: 0;
}
.project-section a {
    margin: 70px auto;
}
/* about styles */
.block-wraper {
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 100px auto;
}
.block-wraper img {
    margin-bottom: 30px;
}
.block-wraper p {
    letter-spacing: 1.5px;
}
.left {
    max-width: 350px;
    width: 100%;
}
.right {
    max-width: 750px;
    width: 100%;
}
.box-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
    margin-top: 60px;
}
.box-about p {
    letter-spacing: 1.5px;
}
.about-section {
    background-image: url(../images/about/call-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding-top: 40px;
}
.about-section h3 {
    max-width: 800px;
    color: white;
    font-size: 40px;
    font-family: 'Sarpanch';
    text-align: center;
    margin: 40px auto;
}
.about-section h2 {
    color: var(--yellow);
    font-size: 17px;
    font-family: 'Roboto';
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
    margin: 70px auto;
}
.about-section div {
    width: 170px;
    height: 50px;
    background-color: var(--yellow);
    border-radius: 5px;
    padding-top: 14px;
    text-align: center;
    margin: 0 auto;
}
.about-section div a {
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
}
.teams-section {
    margin: 100px auto;
}
.team {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-members {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-members div {
    position: relative;
    /* text-align: center; */
}
.name {
    position: absolute;
    bottom: 90px;
    left: 25px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-weight: 400;
}
.prof {
    position: absolute;
    bottom: 60px;
    left: 25px;
    font-size: 14px;
    color: var(--yellow);
    font-family: 'Roboto';
    letter-spacing: 0.5px;
}
/* contact styles */
.contact-header {
    background-image: url(../images/contact/little-header.jpg);
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-p {
    max-width: 450px;
}
.contact-information {
    max-width: 1100px;
    width: 100%;
    margin: 100px auto;
}
.contact-wraper {
    max-width: 1100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contact-wraper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
}
.contact-wraper img {
    margin-right: 20px;
}
.contact-wraper div p {
    color: var(--yellow);
    font-size: 18px;
    font-family: 'Sarpanch';
    letter-spacing: 1px;
}
.contact-wraper div a, .contact-wraper div span {
    color: black;
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 35px;
}
.map {
    max-width: 1100px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
}
.map iframe {
    width: 100%;
}
.form-section {
    max-width: 1100px;
    width: 100%;
    margin: 100px auto;
}
.form-section p {
    max-width: 420px;
    width: 100%;
    line-height: 25px;
}
.form {
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.form-element{
    max-width: 340px;
    width: 100%;
}
.form-element input {
    width: 100%;
    height: 45px;
    border-style: solid;
    outline: none;
    border-width: 0.3px;
    border-color: #d3d3d3;
    color: #7393B3;
    padding-left: 15px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
.message-area textarea {
    color: #7393B3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
    padding-left: 15px;
    padding-top: 15px;
}
input::-webkit-input-placeholder, .message-form::-webkit-input-placeholder {
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
input::-moz-placeholder, .message-form::-moz-placeholder {
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
input:-ms-input-placeholder, .message-form:-ms-input-placeholder {
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
input::-ms-input-placeholder, .message-form::-ms-input-placeholder {
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
input::placeholder, .message-form::placeholder {
    color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: 'Roboto';
}
.message-area {
    max-width: 700px;
    width: 100%;
}
.message-form {
    width: 100%;
    height: 250px;
    margin-top: 30px;
    border-style: solid;
    outline: none;
    border-width: 0.3px;
    border-color: #d3d3d3;
}
.send-button {
    max-width: 200px;
    width: 100%;
    margin-top: 30px;
}
.send-button button {
    width: 100%;
    height: 45px;
    border-style: solid;
    background-color: var(--yellow);
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
}